{% load static from staticfiles %}
<html lang='es'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}} </title>
        <!-- Bootstrap -->
        <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}"  rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static "vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{% static "vendors/nprogress/nprogress.css" %}" rel="stylesheet">
        <link href="{% static "vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static "vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="{% static "vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{% static "vendors/jqvmap/dist/jqvmap.min.css" %}" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{% static "build/css/custom.css" %}" rel="stylesheet">

        {% block context_script %}
        {% endblock %}

    </head>

    <body>
        <div class="container body">
            <div class="main-container">
                <div class="right_col" role="main" style="min-height: 2027px;">
                    {% block group-controllers %}
                    {% endblock %}
                    {% block details %}
                    {% endblock %}
                    {% block aditivos %}
                    {% endblock %}
                    {% block charts %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
        <!-- Bootstrap -->
        <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <!-- FastClick -->
        <script src="{% static "vendors/fastclick/lib/fastclick.js" %}"></script>
        <!-- NProgress -->
        <script src="{% static "vendors/nprogress/nprogress.js" %}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{% static "vendors/moment/moment.js" %}"></script>
        <script src="{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
        <!-- Chart.js -->
        <script src="{% static "vendors/Chart.js/dist/Chart.min.js" %}"></script>
        <!-- jQuery Sparklines -->
        <script src="{% static "vendors/jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
        <!-- Flot -->
        <script src="{% static "vendors/Flot/jquery.flot.js" %}"></script>
        <script src="{% static "vendors/Flot/jquery.flot.pie.js" %}"></script>
        <script src="{% static "vendors/Flot/jquery.flot.time.js" %}"></script>
        <script src="{% static "vendors/Flot/jquery.flot.stack.js" %}"></script>
        <script src="{% static "vendors/Flot/jquery.flot.resize.js" %}"></script>
        <!-- Flot plugins -->
        <script src="{% static "vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}"></script>
        <script src="{% static "vendors/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
        <script src="{% static "vendors/flot.curvedlines/curvedLines.js" %}"></script>
        <!-- DateJS -->
        <script src="{% static "vendors/DateJS/build/date.js" %}"></script>
        <script src="{% static "vendors/pnotify/dist/pnotify.js" %}"></script>


        {% block table_scripts %}
        {% endblock %}

        <script>
            $(document).ready(function() {
                $('.collapse-link').on('click', function() {
                    var $BOX_PANEL = $(this).closest('.x_panel'),
                        $ICON = $(this).find('i'),
                        $BOX_CONTENT = $BOX_PANEL.find('.x_content');

                    // fix for some div with hardcoded fix class
                    if ($BOX_PANEL.attr('style')) {
                        $BOX_CONTENT.slideToggle(200, function(){
                            $BOX_PANEL.removeAttr('style');
                        });
                    } else {
                        $BOX_CONTENT.slideToggle(200);
                        $BOX_PANEL.css('height', 'auto');
                    }

                    $ICON.toggleClass('fa-chevron-up fa-chevron-down');
                });
                {% block call_load_volume_chart %}
                {% endblock %}

                {% block prepare_table %}
                {% endblock %}

    	      });
        </script>


    </body>

</html>
