{% load dashboard_extras %}
{% load humanize %}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Resumen de ventas durante el dia por tipo de combustible</h2>
                <!--div class="filter">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div-->
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:520px">
                        <div id="chart_volume" class="demo-placeholder">
                            <canvas id="cchart_volume"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
