{% extends 'base.html' %}

{% block context_script %}
{% load staticfiles %}
<script src="{% static "build/js/chart_volume.js" %}"></script>
{% endblock %}

{% block call_load_volume_chart %}
function update_volume_chart(){
$.ajax({ url : '{% url  "get_volumen_de_ventas" %}', //this is the submit URL
        type : 'GET',
        data : "",
        success : function(data) {
            load_volume_chart(data[0]);
        },
        error : function(xhr,status,error){
			console.log(xhr);
			console.log(status);
			console.log(error);
		}
        });
}

var last_tid= new Array(100);

function update_fp_controllers(){
$.ajax({ url : '{% url  "get_controllers_data" %}', //this is the submit URL
        type : 'GET',
        data : "",
        success : function(data) {
            $('#group-controllers').html(data);
            statuses = $('.controller_tstat');

            var index;
            for(index=0; index<statuses.length; ++index){
                var data=statuses[index].innerText;

                data = data.split('|');

                if(data[0]=='C' && data[5] != last_tid[Number(data[2])]){
                    console.log(data[1] + ' en FP'+data[2] + ':' + data[3] + '-' + data[4]);
                    new PNotify({
                                  title: data[1],
                                  text:  'FP'+data[2] + ': Monto' + data[3] + ', Volumen' + data[4],
                                  type: 'success',
                                  hide: true,
                                  styling: 'bootstrap3',
                                  delay: 3000
                              });
                    last_tid[Number(data[2])]=data[5];
                }
            }
        },
        error : function(xhr,status,error){
			console.log(xhr);
			console.log(status);
			console.log(error);
		}
        });
}

function update_existencia_galones(){
$.ajax({ url : '{% url  "get_existencias_data" %}', //this is the submit URL
        type : 'GET',
        data : "",
        success : function(data) {
            $('#existencia_galones').html(data);
        },
        error : function(xhr,status,error){
			console.log(xhr);
			console.log(status);
			console.log(error);
		}
        });
}

function update_totales(){
$.ajax({ url : '{% url  "get_totales_data" %}', //this is the submit URL
        type : 'GET',
        data : "",
        success : function(data) {
            $('#totales').html(data);
        },
        error : function(xhr,status,error){
			console.log(xhr);
			console.log(status);
			console.log(error);
		}
        });
}

update_volume_chart();

setInterval(update_volume_chart, {{settings.ft_char_refresh_interval}});
setInterval(update_fp_controllers, {{settings.fp_refresh_interval}});
setInterval(update_existencia_galones, {{settings.exboxes_refresh_interval}});
setInterval(update_totales, {{settings.totales_refresh_interval}});
{% endblock %}

{% block prepare_table %}
{% load staticfiles %}
var table_ventas = $('#table_ventas').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'get_ventas' %}",
    } );

function update_table_ventas(){
    table_ventas.ajax.reload();
}

var table_lubs = $('#table_lubs').DataTable( {
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": "{% url 'get_ventas_aditivos' %}",
        } );

function update_table_lubs(){
    table_lubs.ajax.reload();
}

update_table_ventas();
update_table_lubs();

setInterval(update_table_ventas, {{settings.tabletxns_refresh_interval}});
setInterval(update_table_lubs, {{settings.tablelubs_refresh_interval}});
{% endblock %}

{% block group-controllers %}
{% load static from staticfiles %}
<section id="group-controllers">
    {% include "groupcontrollers.html" %}
</section>
{% endblock %}

{% block details %}
{% include "tabletxns.html" %}
{% endblock %}

{% block aditivos %}
{% include "tablelubs.html" %}
{% endblock %}

{% block charts %}
{% load static from staticfiles %}
{% include "charts.html" %}
{% endblock %}

{% block table_scripts %}
{% load static from staticfiles %}
<!-- Datatables -->
<script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
<script src="{% static "vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
<script src="{% static "vendors/jszip/dist/jszip.min.js" %}"></script>
<script src="{% static "vendors/pdfmake/build/pdfmake.min.js" %}"></script>
<script src="{% static "vendors/pdfmake/build/vfs_fonts.js" %}"></script>

{% endblock %}
