{% load dashboard_extras %}
{% load humanize %}
{% for ft in existencia_final %}
<li class="media event">
  <a class="pull-left border-green profile_thumb">
      <i class="fa fa-industry" style="color:{{ft.ft|ftcolor}};"></i>
  </a>
  <div class="media-body div_ft_{{ft.ft_}}">
      <a class="title" style="color:{{ft.ft|ftcolor}};" href="#">{{ft.ft}}</a>
      <p><strong>{{ft.existencia_final|floatformat:"4"|intcomma}} </strong>  </p>
      <p> <small>galones</small>
      </p>
  </div>
</li>
{% endfor %}
