{% load dashboard_extras %}
{% load humanize %}
<section group-controllers>
<div class="row tile_count">
    {% for controller in controllers %}
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" id="dfp{{controller.fp}}">
      <span class="count_top"><i class="fa fa-dashboard"></i> fp{{controller.fp}}</span>
      <div class="count" style="color:{{controller.ft|ftcolor}};">{{controller.amount|prepend_dollars}}</div>
      <table class="table table-responsive borderless paddingless" style="font-size:12px;">
      <tr>
          <td class="count_bottom  font-13">Volumen   </td>
          <td class="text-right   font-10" style="color:{{controller.ft|ftcolor}};">{{controller.volume|floatformat:"4"|intcomma}}</td>
      </tr>

      <tr >
          <td class="count_bottom  font-10">Ppu   </td>
          <td class="text-right font-10">{{controller.ppu|prepend_dollars}} </td>
      </p>
      <tr>
          <td class="count_bottom font-10">tstat: </td>
          <td class="text-right font-10"><i class="fa fa-circle" style="color:{{controller.tstat|tstatcolor}};"></i> {{controller.get_tstat_display}} </td>
          <i class="hidden controller_tstat">{{controller.tstat}}|{{controller.get_tstat_display}}|{{controller.fp}}|{{controller.amount|prepend_dollars}}|{{controller.volume|floatformat:"4"|intcomma}}|{{controller.transid}}</i>
      </p>

      <tr>
          <td class="count_botton font-10">ft: </td>
          <td class="text-center font-10"> {{controller.get_ft_display}}</td>
      </p>
      <tr>
          <td class="count_bottom font-10">pstat    </td>
          <td class="text-right font-10"> <i class="fa fa-circle" style="color:{{controller.pstat|pstatcolor}};"></i> {{controller.get_pstat_display}} </td>
      </p>
    </table>






    </div>
    {% endfor %}

</section>
