<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Detalle de ventas </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
            Detalle de ventas durante el día, use el cuadro para buscar por transaccion
      </p>
      <div class="col-md-3 col-sm-3 col-xs-6">
          <div>
              <div class="x_title">
                <h2>Existencia <small>(en galones)</small></h2>
                <div class="clearfix"></div>
              </div>
              <ul class="list-unstyled top_profiles scroll-view">
                  <section id="existencia_galones">
                      {% include "existencias.html" %}
                  </section>
                  <li>
                      <section id="totales">
                          {% include "totales.html" %}
                      </section>
                  </li>
              </ul>
            </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
      <table id="table_ventas" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#Transacción</th>
            <th>Dispensador</th>
            <th>Producto</th>
            <th>Total galones</th>
            <th>Hora</th>
            <th>TPago</th>
            <th>Piloto</th>
            <th>ID vehículo</th>
          </tr>
        </thead>

        <tbody>

        </tbody>
      </table>
  </div>



    </div>

  </div>
</div>
