{% load dashboard_extras %}
{% load humanize %}

<div class="col-md-6 col-sm-6 col-xs-12 tile div_monto_total">
    <span><strong>Monto Total</strong></span>
    <h2>{{ totales_de_ventas.amount|prepend_dollars }}</h2>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 tile div_volumen_total">
    <span><strong>Volumen</strong></span>
    <h2>{{ totales_de_ventas.volume|floatformat:"4"|intcomma }}</h2>
</div>
